on early-init
    # Use ueventd for firmware loading
    write /proc/sys/kernel/firmware_config/force_sysfs_fallback 1

on init
    setprop sys.usb.configfs 1

on property:ro.boot.usbcontroller=*
    setprop sys.usb.controller ${ro.boot.usbcontroller}
    write /sys/class/udc/${ro.boot.usbcontroller}/device/../mode peripheral

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    #symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    symlink /dev/block/platform/${ro.boot.boot_devices} /dev/block/bootdevice
